* {
  margin: 0;
  padding: 0;
}

.container1 {
  display: grid;
  grid-template-columns: 400px 450px 400px;
}

.top-page {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.navbar a {
  margin-left: 20px;
}

.headliner {
  margin-bottom: 10px;
}

.TopImportantLinks {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 6vh;
  border: 1px solid #bacdd8;
  border-radius: 25px;
  padding: 8px;
}
.links-container {
  margin: 10px 10px 10px 10px;
  background-color: aqua;
}

.linksList {
  list-style-type: none;
  font-size: 18px;
}

li {
  margin: 10px 0;
}

a:link {
  text-decoration: none;
}
